<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Quản lý bán hàng</h2>
    </div>
    <div class="card-body">
      <form action="/user/manhinhchinh" method="POST">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/user/getAllUsers" class="btn btn-primary">Quản lý user</a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/user/getAllsp" class="btn btn-primary">Quản lý san pham</a>
        </div>
      </form>
    </div>
  </div>
</div>